body{
    font-family: "CeraPro",sans-serif;
}
.nav-link{
    color: #000;
}
.nav_bar{
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.20);
}
.signup {
  width: 150px;
  height: 40px;
  background: #31bc2e;
  border-radius: 10.4103px;
  margin-left: 1rem;
  border: none;
}
.login {
  width: 150px;
  height: 40px;
  background-color: transparent;
  border-radius: 10.4103px;
  border: 1px solid #31bc2e;
  color: #31bc2e;
}
.title-class{
    color: #004c46;
    font-size: 48px;
font-weight: 30px;
padding-bottom: 2rem;
padding-top: 5rem;
}
.text-class{
color: rgb(23 23 23 / 70%);
font-size: 20px;
font-weight: 25px;

}
.cbtn{
    
    border-width: 2px;
}
.classbtn{
    padding-top: 2rem;
}
.aboutus{
    text-align: center;
    font-weight: 700;
font-size: 35px;
/* line-height: 48px; */
color: #000000;
padding-bottom: 3rem;
}